
/* h1{
  color:orange;
  background-color: slategray;
  font-size: 20px;
  text-decoration: underline;
  font-family: arial;
  text-align: center;
}

p{
  color: slategray;
  text-align: center;
  line-height: 30px;
  letter-spacing: 1px;
  column-count: 3;
  column-gap: 30px;
} */

ul{
  /* border-width: 4px;
  border-style: solid;
  border-color: crimson; */
  /* border: 4px solid crimson; */
  border-bottom: 6px dotted #a89bf7;
  border-left: 8px dashed #679c67;
}

li{
  list-style-type: square;
  /* text-shadow: 2px 2px lightgray; */
  text-shadow: 2px 2px #e9e9e9;
}


/* watch out for padding collapse on inline elements
no margin top and bottom for inline elements, use inline-block to access ful margin options but still keep elements inline. */
span{
  display: inline-block;
  margin: 20px;  
  padding: 20px; 
}

  /* watch out for margin collapse on block-level elements
   the lager margin will be set and the smaller margin ignored. If the
   margin is the same size it will be set only once 20px/20px will be 20px not 40px*/
/* div{
  border: 2px solid crimson;
  margin: 20px;
  padding: 20px;
} */

/* element and class style */
p.error{
  color: rgb(190, 60, 43);
}
p.success{
  color: rgb(109, 199, 109);
}
p.success.feedback{
  border: 2px solid palevioletred;
}


.span-style{
  display: inline-block;
  margin: 20px;  
  padding: 20px; 
}

/* id style */
#content{
  background-color: #ebebeb;
  padding: 20px;
  margin: 20px;
}

/* child descendant style */
div p{
  text-decoration: underline;
}

/* If there is no space between selected elements, we get the div with the class of error, if there is a space between the elements, we get all elements inside the div with a class of error */
div.error{
  font-size: larger;
  color: pink;
}

div .error{
  font-size: smaller;
  color: blue;
}

/* Styling using attribute selectors */
a[href="https://en.wikipedia.org/wiki/Advaita_Vedanta"]{
  background-color: #e9e6e1;
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

/* Can write the same rule using an asterix,to shorten link, if the words are present in the link, the link will be styled; use a $ instead of an asterix to say if the words are at the end of the link, please style the link */
a[href*="Advaita_Vedanta"]{
  background-color: #e9e6e1;
  color: blue;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

a[href*="/Buddhism"]{
  background-color: #f3f1ec;
  color: orangered;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

a[href$="/Buddhism"]{
  background-color: #f3f1ec;
  color: orangered;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid gold;
}